segment_anything @ git+https://github.com/facebookresearch/segment-anything@main
groundingdino @ git+https://github.com/IDEA-Research/GroundingDINO@main
addict
diffusers[torch]==0.15.1
fairscale
gradio
huggingface_hub
ipykernel==6.16.2
matplotlib==3.5.3
nltk
numpy
onnx==1.13.1
onnxruntime==1.14.1
opencv_python==4.7.0.72
openai
Pillow
pycocotools==2.0.6
PyYAML
requests
scipy
setuptools
supervision
termcolor
timm
torch
torchvision
transformers
yapf
